.card-container {
    background-color: #283142;
    border-radius: 18px;
    padding: 30px 10px;
}

.card-container h2 {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-container {
    background-color: #283142;
    border-radius: 18px;
    padding: 30px 10px;
}

.card-container h2 {
    color: #676FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 16px;
    max-width: 300px;
}

.input-search {
    color-scheme: dark;
    height: 46px;
    background-color: #1B2531;
    border: 1px solid #384459;
    width: 100%;
    color: #9AAABE;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 20px;
}

.sales-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.sales-table thead {
    height: 55px;
    font-size: 16px;
    font-weight: 700;
    color: #E9E9E9;
}

.sales-table tbody {
    font-size: 14px;
    color: #CFCFCF;
    text-align: center;
}

.sales-table tbody tr {
    height: 74px;
    border-top: 1px solid #5F6E82;
    font-weight: 400;
}

.sales-table tbody tr:hover>td {
    background-color: #384459;
}

.sales-table tbody tr:nth-child(odd) {
    background-color: #242C3B;
}

.show-in-tablet {
    display: none;
}

.show-in-desktop {
    display: none;
}

@media (min-width: 576px) {
    .show-in-tablet {
        display: table-cell;
    }
    .card-container {
        padding: 35px;
    }
    .sales-table thead {
        font-size: 18px;
    }
    .sales-table tbody {
        font-size: 16px;
    }
    .sales-table tbody tr {
        height: 62px;
    }
}

@media (min-width: 992px) {
    .show-in-desktop {
        display: table-cell;
    }
}